.client-details-container {
  width: 100%;
  background-color: #262626;
  padding: 0px;
  border-radius: 10px;
  border: 0px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 250px;
}

.client-details-name {
  font-size: 25px;
}

.info-field {
  font-size: 15px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .client-details-container {
    max-width: 516px;
  }
}
