hr {
  color: white;
  width: 50px;
}

.dashboard-container {
  max-width: 80vw;
  min-width: 50vw;
}

.header-button {
  margin-left: 15px;
  font-size: 1.5rem;
}

.header-button:hover{
  cursor: pointer;
}