@import "../../../global.scss";

.hero-section {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../../../assets/images/LandingImage.jpeg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;

  @media screen and (max-width: 425px) {
    height: 40vh;
  }
}

.login-btn {
  font-size: 2rem !important;
}
