@import "../../global.scss";

a,
a::before,
a::after {
  color: white;
  cursor: pointer;
}

.footer {
  background-color: $footerColor;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
