@import "/src/global.scss";

.testimonial-card {
  width: 250px;
  margin: 0.8rem;
}

.testimonial-img {
  width: 50%;
  object-fit: contain;
  margin-top: 1.6rem;
}

.testimonial-text {
  margin: 2.4rem;
}
