@import "/src/global.scss";

.testimonial-card {
  width: 250px;
}

.testimonial-text {
  font-size: 1rem;
}

.testimonial-name {
}

.testimonial-img img {
  width: 50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
