.profile-picture {
  width: 100%;
border-radius: 7px 7px 0px 0px;
 
}

.card-container {
  width: 250px;
  background-color: #262626;
  padding: 0px;
  border-radius:10px;
  border: 0px;
  color: white;
}
