@import "./global";

body {
  font-size: 1.6rem;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  background-color: $backgroundColor;
  /* Footer height */
}

button {
  font-size: 1.6rem !important;
}

p,
li {
  font-size: 1.6rem !important;
}
