@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");

// Variables
$backgroundColor: #16161a;
$secondaryBackgroundColor: #242629;

$navColor: #242629;
$footerColor: #16161a;

$headlineColor: #fffffe;

$cardBackground: #242629;
$cardHeading: #fffffe;
$cardSubHeadline: #94a1b2;

$primaryButton: #7f5af0;

// Font Sizes
$heroTextSize: 6.2rem;
$heroTextSizeMobile: 4.4rem;

$headingTextSize: 3.2rem !important;
$headingFontWeight: 500;
$headingTextSizeMobile: 2rem !important;

$bodyTextSize: 1.6rem !important;

$subheadingFontSize: 3rem;

// Fonts
$headingFont: "Josefin Sans", sans-serif;
$textFont: "Poppins", sans-serif;

// Typography
.hero-text {
  font-size: $heroTextSize;
  line-height: $heroTextSize;
  font-weight: 600;
  font-family: $headingFont;

  @media only screen and (max-device-width: 425px) {
    font-size: $heroTextSizeMobile;
    line-height: $heroTextSizeMobile;
  }
}

body-text {
  font-size: $bodyTextSize;
}

.heading-text {
  font-size: $headingTextSize;
  font-family: $headingFont;
  font-weight: 500;
  line-height: $headingTextSize;
}

// Spacing
.section {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;

  @media only screen and (max-device-width: 425px) {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }
}

// Alignment Classes
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0 auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// Background Colors

.primary-bg {
  background-color: $backgroundColor;
}

.secondary-bg {
  background-color: $secondaryBackgroundColor;
}
