@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");

// Variables
$backgroundColor: #16161a;
$headlineColor: #fffffe;

$navColor: #242629;
$footerColor: #242629;

$cardBackground: #242629;
$cardHeading: #fffffe;
$cardSubHeadline: #94a1b2;

$primaryButton: #7f5af0;

$headingFontSize: 4.4rem;
$headingFontWeight: 500;

$subheadingFontSize: 3rem;

$headingFont: "Josefin Sans", sans-serif;
$textFont: "Poppins", sans-serif;

// Containers
.content-container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  // iphone 8+ and smaller
  @media only screen and (max-device-width: 736px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.section {
  margin: 4.8rem 0;

  // tablets
  @media only screen and (max-device-width: 768px) {
    margin: 3.2rem 0;
  }
  // phones
  @media only screen and (max-device-width: 425px) {
    margin: 2.4rem 0;
  }
}

// Alignment Classes
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0 auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// Text Classes
.heading {
  font-size: 4.4rem;
  font-family: $headingFont;
  font-weight: 500;
  line-height: 4.4rem;

  // tablets
  @media only screen and (max-device-width: 768px) {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  // phones
  @media only screen and (max-device-width: 425px) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.subheading {
  font-size: 3rem;
  font-family: $headingFont;
  font-weight: $headingFontWeight;

  @media only screen and (max-device-width: 768px) {
    font-size: 2.4rem;
  }
  // phones
  @media only screen and (max-device-width: 425px) {
    font-size: 2rem;
  }
}
