@import "/src/global.scss";

.tabs {
  background-color: $secondaryBackgroundColor;
  div {
    background-color: red !important;
  }
}

.tab.nav-link {
  color: white;
}

.tab-content {
  background-color: $secondaryBackgroundColor;
}
